body {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: normal;
    color: #212121;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Alegreya', serif;
    font-weight: normal;
}

h1#profileName {
    font-style: italic;
}

div#socialProfiles a {
    text-decoration: none;
    color: #212121;
}

div#socialProfiles a span {
    padding: 4px 2px;
    border-bottom: 3px solid transparent;
    display: inline-block;
}

div#socialProfiles a span i {
    margin: 4px
}

div#socialProfiles a:hover span, div#socialProfiles a:focus span {
    color: #2962FF;
    border-bottom-color: #2962FF;
}