body {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: normal;
    color: #212121;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Alegreya', serif;
    font-weight: normal;
}

#profileName {
    font-style: italic;
}

#definitions * {
    font-family: 'Alegreya Sans', sans-serif;
}

#definitions h4 {
    font-weight: bold;
}

#definitions .badge {
    font-size: 0.6em;
    padding: 6px 7px;
    margin-left: 5px;
    line-height: 0.9em;
}

.definition-header {
    font-size: 1.4em;
}

div#socialProfiles a span {
    padding: 4px 2px;
}

div#socialProfiles a span i {
    margin: 4px
}