body {
    font-family: 'Inconsolata', Consolas, monospace;
    color: #212121;
}

h1 {
    font-weight: 300;
}


div#socialProfiles a {
    text-decoration: none;
    color: #212121;
}

div#socialProfiles a span {
    padding: 4px 2px;
    border-bottom: 3px solid transparent;
}

div#socialProfiles a:hover span, div#socialProfiles a:focus span {
    font-weight: bold;
    color: #2979FF;
    border-bottom-color: #2979FF;
}